{% extends "base.html" %}
{% block user_id %}{{user_id}}{% endblock %}

{% block content %}
<h1>Discussion sections</h1>

<p> create a new message chain </p>
<form action="#" method="POST">
    <input type="text" placeholder="Message chain header" name="header" size="80" maxlength="100" required>
    <input type="submit" value="create">
</form>
<br\>

<hr>
{% for message_chain in message_chains %}
<p><a href="/message_chain/{{message_chain.id}}">{{message_chain.header}}</a> created by {{message_chain.username}}</p>
{% if message_chain.owned %}
<p>delete</p>
{% endif %}
<hr>
{% endfor %}
{% endblock %}