{% extends "base.html" %}
{% block logged %}{{logged}}{% endblock %}

{% block content %}

{% if not logged==True %}
<h2>Login</h2>
<form action="#" method="POST">
    <input class="form-control mr-sm-2" type="text" placeholder="username" name="username" maxlength="15" requried>
    <input class="form-control mr-sm-2" type="password" placeholder="password" name="password" maxlength="20" required>
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Login">
</form>
<br>
<a class="badge badge-success" href="/signup">Create an account</a>
{% else %}
<p> Already logged in</p>
{% endif %}
</br>
<small>For moderator privileges please log in with username: aare password: aare</small>
{% endblock %}