{% extends "base.html" %}
{% block user_id %}{{user_id}}{% endblock %}

{% block content %}
{% if user_id != 0 %}
<p>Sign Up</p>
<form action="#" method="POST">
    <input class="form-control mr-sm-2" type="text" placeholder="username" name="username" maxlength="15" requried>
    <input class="form-control mr-sm-2" type="password" placeholder="password" name="password" maxlength="20" required>
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign In">
</form>
{% else %}
<p>Already logged in</p>
{% endif %}
{% endblock %}